apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: jvm-build-suite-component-koahss
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: jvm-build-suite-component-koahss
    app.kubernetes.io/part-of: jvm-build-suite-application-bnwa
  name: jvm-build-suite-component-koahss
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: jvm-build-suite-component-koahss
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: jvm-build-suite-component-koahss
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/jvm-build-izvm-tenant/jvm-build-suite-application-bnwa/jvm-build-suite-component-koahss@sha256:1ae3df1548956c132956e380c7a595ffbb34c3ec374ef6302fb10e08c24a1b6e
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
