apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: jvm-build-suite-component-koahss
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: jvm-build-suite-component-koahss
    app.kubernetes.io/part-of: jvm-build-suite-application-bnwa
  name: jvm-build-suite-component-koahss
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: jvm-build-suite-component-koahss
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: jvm-build-suite-component-koahss
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/jvm-build-izvm-tenant/jvm-build-suite-application-bnwa/jvm-build-suite-component-koahss@sha256:2a3364970dfb8f4c3f091f3546a5b86fb54244cf1be28c6ea05a6cec2a2c6277
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
